<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
<head style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
    <meta name="viewport" content="width=device-width" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">


</head>
<body style="background: #f8f8f8; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; height: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
<table class="body-wrap" style="background: #f8f8f8; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; height: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
    <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
        <td class="container" style="clear: both !important; display: block !important; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0 auto !important; max-width: 580px !important; padding: 0;">

            <!-- Message start -->
            <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                    <td align="center" class="masthead" style="background: #f0c835; color: black; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 80px 0;">

                        <h1 style="font-family: 'Arial Narrow',serif; font-size: 32px; font-weight: 500; line-height: 1.25; margin: 0 auto !important; margin-bottom: 20px; max-width: 90%; padding: 0; text-transform: uppercase;">
                            🍿🍿CINEMA CITY🍿 &#127871;
                        </h1>
                    </td>
                </tr>
                <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                    <td class="content" style="background: white; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 30px 35px;">

                        <h4 style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 20px; line-height: 1.25; margin: 0; margin-bottom: 20px; padding: 0;">{{name}},</h4>

                        <p style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 20px; padding: 0;">Thanks you for your order</p>

                        <h2 style="border-bottom: 1px solid black; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 28px; line-height: 1.25; margin: 0; margin-bottom: 20px; padding: 0;">Your ticket</h2>


                        <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Movie title</th>
                                <td class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">{{movie}}</td>
                            </tr>
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Movie Date</th>
                                <td class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">{{date}}</td>
                            </tr>
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Movie Time</th>
                                <td class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">{{time}}</td>
                            </tr>
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Hall</th>
                                <td class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">{{hall}}</td>
                            </tr>
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Seat No.</th>
                                <td class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">{{#each seat}} {{this}},  {{/each}}</td>
                            </tr>
                        </table>


                        <br style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">

                        <h2 style="border-bottom: 1px solid black; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 28px; line-height: 1.25; margin: 0; margin-bottom: 20px; padding: 0;">Summary details</h2>


                        <table class="text-center" style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: center; width: 100% !important;">
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Item</th>
                                <th style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">Price</th>
                                <th style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">Quantity</th>
                                <th style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">Subtotal</th>
                            </tr>
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <td class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Standards Tickets</td>
                                <td style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">{{price}}</td>
                                <td style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">{{quantity}}</td>
                                <td style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">{{subtotal}}</td>
                            </tr>
                        </table>
                        <br style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                        <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <th class="text-left" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: left;">Total</th>
                                <th class="text-right" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; text-align: right;">{{total}}{{currency}}</th>
                            </tr>
                        </table>
                        <br style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                        <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                            <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                <td align="center" style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                                    <p style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 20px; padding: 0;">
                                        <a href="{{url}}" class="button" style="background: #023037; border: solid #023037; border-radius: 4px; border-width: 10px 20px 8px; color: white; display: inline-block; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; font-weight: bold; line-height: 1.65; margin: 0; padding: 0; text-decoration: none;">Show ticket in app</a>
                                    </p>
                                </td>
                            </tr>
                        </table>



                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
        <td class="container" style="clear: both !important; display: block !important; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0 auto !important; max-width: 580px !important; padding: 0;">

            <!-- Message start -->
            <table style="border-collapse: collapse; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0; width: 100% !important;">
                <tr style="font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 0;">
                    <td class="content footer" align="center" style="background: none; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; line-height: 1.65; margin: 0; padding: 30px 35px;">
                        <p style="color: #888; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 0; padding: 0; text-align: center;">Sent by <a href="#" style="color: #888; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; font-weight: bold; line-height: 1.65; margin: 0; padding: 0; text-decoration: none;">Cinema City</a>, 1234 Yellow Brick Road, OZ, 99999</p>
                        <p style="color: #888; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.65; margin: 0; margin-bottom: 0; padding: 0; text-align: center;"><a href="mailto:" style="color: #888; font-family: 'Avenir Next', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 100%; font-weight: bold; line-height: 1.65; margin: 0; padding: 0; text-decoration: none;">hello@company.com</a></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>
